In [103]:
import pandas as pd

In [104]:
df = pd.read_csv("D:\\Excel\\Артикул.csv", sep = ';')

In [105]:
df=df.rename(columns={'Номенклатура':'product_name'})

In [106]:
df=df[['product_name']]

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_name  9 non-null      object
dtypes: object(1)
memory usage: 204.0+ bytes

In [108]:
df.head()

                         product_name
0              Фольга №342123 Toppits
1                 Пакеты №355643 Gram
2  Коврик для посуды №437832 Marmiton
3            Салфетки №548746 Familia
4           Пакеты №7465729 PrimaPack

In [109]:
df['number']=df.product_name.str.extract(r'(\d+)') #sequence of numbers

In [110]:
df['full_number']=df.product_name.str.extract(r'(№\d+)') #sequence of numbers + №

In [111]:
df['latin_letters'] = df['product_name'].str.extract(r'([A-Za-z]+)') #brand name - sequence of english letters

In [112]:
df['Type']=df.product_name.str.split(" ").str[0] #the first element of a string - product type

In [113]:
df

,product_name,number,full_number,latin_letters,Type
0,Фольга №342123 Toppits,342123,№342123,Toppits,Фольга
1,Пакеты №355643 Gram,355643,№355643,Gram,Пакеты
2,Коврик для посуды №437832 Marmiton,437832,№437832,Marmiton,Коврик
3,Салфетки №548746 Familia,548746,№548746,Familia,Салфетки
4,Пакеты №7465729 PrimaPack,7465729,№7465729,PrimaPack,Пакеты
5,Пакеты №8747236 Paclan для запекания с жаропро...,8747236,№8747236,Paclan,Пакеты
6,Пакеты №764724 Paterra для хранения,764724,№764724,Paterra,Пакеты
7,Фольга №7473628 Toppits алюминиевая особо проч...,7473628,№7473628,Toppits,Фольга
8,Емкость №8674872 Pasabahce для варенья и меда,8674872,№8674872,Pasabahce,Емкость